<html>

<head>
    <title>Reddit</title>
    <link rel='stylesheet' type='text/css' href='/css/style.css'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id='content'>
        <form method="POST" action="/api/newPost">
            <label for="">Post</label>
            <input type="text" name="title" id="">
            <br>
            <label for="">Creator</label>
            <input type="text" name="creator" id="">
            <br>
            <input type="submit" id="submit">
        </form>
    </div>
</body>

</html>